[Unit]
Description=Polkadot Collator Node

[Service]
ExecStart=polkadot --name anya-polkadot-collatornode  --collator  --ws-port 9944 \
--chain=rococo --base-path=polkadot  \
--listen-addr=/ip4/0.0.0.0/tcp/30334 --public-addr=/ip4/0.0.0.0/tcp/30334 \
--execution=wasm \
--listen-addr=/ip4/0.0.0.0/tcp/30333 --public-addr=/ip4/0.0.0.0/tcp/30333

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
